 /* ================= Body ================= */ 

body {
  font-family: 'Poppins', sans-serif;
  background-color: #f9f9f9;
  padding-top: 80px;
} 

h1, h2, h3, h4, h5, h6 {
    font-family: 'Merriweather', serif;
  } 

  .nav-link:hover {
    color: #ffc107 !important;
  }
  
  /* ================= FOOTER ================= */  
  footer {
    background-color: #1a1a1a;
    color: #ddd;
  } 


  footer .footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 30px 20px;
    max-width: 1200px;
    margin: auto;
  } 

  footer .footer-column {
    flex: 1 1 200px;
    margin: 10px;
  } 

  footer h5 {
    font-weight: 600;
    margin-bottom: 15px;
  }  

  footer p, footer a {
    font-size: 0.9rem;
    line-height: 1.5;
  }
  


  

  
  

  
  

  