 /* ================= Body ================= */ 

body {
  font-family: 'Poppins', sans-serif;
  background-color: #f9f9f9;
  padding-top: 80px;
} 

h1, h2, h3, h4, h5, h6 {
    font-family: 'Merriweather', serif;
  } 

  .nav-link:hover {
    color: #ffc107 !important;
  }
  
  /* ================= FOOTER ================= */  
  footer {
    background-color: #1a1a1a;
    color: #ddd;
  }

  
  

  